.overlay-corner {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-top-left-radius: 6px;
    width: 1em;
    height: 1em;
    transition: width 0.3s ease, height 0.3s ease;
}

.overlay-corner.top-right {
    position: absolute;
    inset: 0% 0% auto auto;
    transform: rotate(90deg);
}

.overlay-corner.bottom-left {
    position: absolute;
    inset: auto auto 0% 0%;
    transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
    position: absolute;
    inset: auto 0% 0% auto;
    transform: rotate(180deg);
}

.overlay-corner.bottom-right {
    position: absolute;
    inset: auto 0% 0% auto;
    transform: rotate(180deg);
}

.button-overlay {
    z-index: 2;
    position: absolute;
    inset: -1px;
}

.button-overlay:hover {
    scale: 1.2;
    opacity: 0.3;
}

.motion-button:hover .overlay-corner {
    width: 2em;
    height: 2em;
}

.motion-button:hover .tooltip {
    opacity: 1;
  }